body { 
    background-color: lightskyblue;
} 

h1 { 
    color: green; 
    font-weight: bold;
    text-align: center;
    font-family: Arial;
} 

p { 
    background-color: white;
}

.título { 
    background-color: white;
    color: blue;
    font-family: sans-serif;
    font-weight: 400;
} 

.bebidas { 
    background-color: white;
    color: orange;
    font-family: "times new roman";
} 

.sobremesas { 
    background-color: gray;
    color: red;
} 

footer { 
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Inter';
    font-size: 9px;
}